[submodule "thirdparty/D3D12MemoryAllocator"]
	path = thirdparty/D3D12MemoryAllocator
	url = git@github.com:HanetakaChou/Brioche.git
	branch = D3D12MemoryAllocator
[submodule "thirdparty/Vulkan-Headers"]
	path = thirdparty/Vulkan-Headers
	url = git@github.com:HanetakaChou/Brioche.git
	branch = Vulkan-Headers
[submodule "thirdparty/Vulkan-ValidationLayers"]
	path = thirdparty/Vulkan-ValidationLayers
	url = git@github.com:HanetakaChou/Brioche.git
	branch = Vulkan-ValidationLayers
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = git@github.com:HanetakaChou/Brioche.git
	branch = VulkanMemoryAllocator
[submodule "thirdparty/shaderc"]
	path = thirdparty/shaderc
	url = git@github.com:HanetakaChou/Brioche.git
	branch = shaderc
